*, html, body {
	margin: 0;
	padding: 0;
	font: 12px "simhei", Arial, Helvetica, sans-serif;
}
/*
@general
----------------------*/
input[type="button"]{
	width: 130px;
	height: 40px;
	color: #fff;
	border: none;
	border-radius: 2px;
	font-size: 16px;
	background: linear-gradient(to top, #27b1f6 0%, #0aa1ed 100%);
}
img:hover{
	transform: scale(1.1, 1.1);
}
img{
	transition: 1s;
}
img, input, h2, h3, h6{
	cursor: pointer;
}
h2{
	font-size: 32px;
	color: #333;
}
#price, #price span{
	font-size: 22px;
	color: #0aa1ed;
	margin-bottom: 12px;
}

#details{
	font-size: 12px;
    margin-bottom: 24px;
    color: #666;
}
/*end of general
-------------------------*/

/*@structrue
--------------------------*/
.floor-content{
	width: 1000px;
	margin: 24px auto;
	display: flex;
	justify-content: space-between;/*两端对齐*/
	flex-wrap: wrap;/*允许换行*/
}

.floor-content>div{
	background-color: #e8e8e8;
	position: relative;
	margin-top: 10px;
}
.floor-content>div:first-child{
	width: 609px;
	height: 377px;
}
.floor-content>div:nth-child(2){
    width: 381px;
    height: 377px;
}
.floor-content>div:first-child .desc,
.floor-content>div:nth-child(2) .desc
{
	position: absolute;
	top: 55px;
    left: 65px;
    width: 245px;
	height: 243px;
}
.floor-content>div:first-child img,
.floor-content>div:nth-child(2) img{
	position: absolute;
	bottom: 20px;
	right: 30px;
}
.floor-content>div:nth-child(3){
	width: 377px;
	height: 233px;
}
.floor-content>div:nth-child(3) .desc{
	width: 150px;
	height: 120px;
	padding-top: 1em;
	position: absolute;
	top: 21px;
	left: 33px;
}
.floor-content>div:nth-child(3) img{
	position: absolute;
	right: 17px;
	top: 40px;
}

.floor-content>div.product .desc{
	text-align: center;
}
/*end of structrue
---------------------------*/

/*@override
---------------------------*/
.floor-content>div:nth-child(2) .desc{
	width: 253px;
	left: 24px;
}

h3{
	font-size: 22px;
}
.product .desc input{
	width: 102px;
	height: 28px;
	font-size: 14px;
}

.product .desc #price{
	margin-top: 5px;
}
/*end of override*/